<?xml version="1.0" encoding="UTF-8"?>
<labwc_menu>
  <item label="Terminal">
    <action name="Execute"><command>foot</command></action>
  </item>
  <item label="Fuzzel Launcher">
    <action name="Execute"><command>fuzzel</command></action>
  </item>
  <menu id="apps" label="Applications" execute="obamenu" />
  <separator/>
  <item label="Wallpaper (Random)">
    <action name="Execute"><command>wallpaper random</command></action>
  </item>
  <item label="Wallpaper Sync">
    <action name="Execute"><command>wallpaper sync</command></action>
  </item>
  <separator/>
  <item label="crystal-dock">
    <action name="Execute"><command>crystal-dock --start --overlay</command></action>
  </item>
  <item label="SFWBar Widgets">
    <action name="Execute"><command>sfwbar</command></action>
  </item>
  <separator/>
  <item label="Night Mode">
    <action name="Execute"><command>gammastep -m randr -t 6500:3500 -g 1.0 -r</command></action>
  </item>
  <item label="Toggle Dark Mode">
    <action name="Execute"><command>gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark' || gsettings set org.gnome.desktop.interface color-scheme 'default'</command></action>
  </item>
  <separator/>
  <item label="Screenshot (Area)">
    <action name="Execute"><command>grim -g "$(slurp)" - | wl-copy</command></action>
  </item>
  <item label="Screenshot (Full)">
    <action name="Execute"><command>grim - | wl-copy</command></action>
  </item>
  <separator/>
  <item label="Power Menu">
    <action name="Execute"><command>actions.sh power-menu</command></action>
  </item>
  <item label="Reload Config">
    <action name="Reload"/>
  </item>
  <item label="Exit labwc">
    <action name="Exit"/>
  </item>
</labwc_menu>
