[General]
activeIndicatorColor={{COLOR_ACCENT}}
activeIndicatorColorMetal2D={{COLOR_ACCENT}}
backgroundColor={{COLOR_BG}}bd
backgroundColorMetal2D={{COLOR_SURFACE}}a6
borderColor={{COLOR_BORDER}}
bouncingLauncherIcon=true
firstRunWindowCountIndicator=false
floatingMargin=6
fontFamily={{FONT_INTERFACE}}
fontSize=11
inactiveIndicatorColor={{COLOR_MUTED}}
inactiveIndicatorColorMetal2D={{COLOR_MUTED}}
iconTheme={{ICON_THEME}}
maximumIconSize=48
minimumIconSize=32
panelStyle=4
showTooltip=true
spacingFactor=0.5
tooltipFontSize=24
zoomingAnimationSpeed=16

[Application%20Menu]
backgroundAlpha=0.8
fontFamily={{FONT_INTERFACE}}
fontSize=14
label=Applications

[Clock]
fontFamily={{FONT_INTERFACE}}
fontScaleFactor=1
use24HourClock=true
