[Settings]
gtk-theme-name={{GTK_THEME}}
gtk-application-prefer-dark-theme={{GTK_PREFER_DARK}}
gtk-icon-theme-name={{ICON_THEME}}
gtk-font-name={{FONT_INTERFACE}}
gtk-monospace-font-name={{FONT_MONOSPACE}}
gtk-cursor-theme-name={{CURSOR_THEME}}
gtk-cursor-theme-size={{CURSOR_SIZE}}
gtk-xft-antialias={{XFT_ANTIALIAS}}
gtk-xft-hinting={{XFT_HINTING}}
gtk-xft-hintstyle={{XFT_HINTSTYLE}}
gtk-xft-rgba={{XFT_RGBA}}
gtk-decoration-layout={{GTK_DECORATION_LAYOUT}}
gtk-enable-animations={{GTK_ENABLE_ANIMATIONS}}
gtk-shell-shows-app-menu={{GTK_SHOWS_APP_MENU}}
gtk-shell-shows-menubar={{GTK_SHOWS_MENU_BAR}}
