[mako]
font={{MAKO_FONT}}
width={{MAKO_MAX_WIDTH}}
height=300
max-visible={{MAKO_MAX_VISIBLE}}
default-timeout={{MAKO_DEFAULT_TIMEOUT}}
markup={{MAKO_MARKUP}}
actions={{MAKO_ACTIONS}}
layer=overlay
anchor=top-right
margin=20
padding={{MAKO_PADDING}}
border-radius={{CORNER_RADIUS}}
border-size={{MAKO_BORDER_WIDTH}}

[colors]
background={{MAKO_BG_COLOR}}
text={{MAKO_TEXT_COLOR}}
border={{MAKO_BORDER_COLOR}}
