[OCWS]
text               = {{COLOR_FG}}
subtext            = {{COLOR_SUBTEXT0}}
nav-active-text    = {{COLOR_ACCENT}}
main               = {{COLOR_BG}}
sidebar            = {{COLOR_MANTLE}}
player             = {{COLOR_CRUST}}
card               = {{COLOR_SURFACE0}}
shadow             = {{COLOR_SURFACE1}}
selected-row       = {{COLOR_SURFACE2}}
button             = {{COLOR_ACCENT}}
button-active      = {{COLOR_ACCENT}}
button-disabled    = {{COLOR_OVERLAY0}}
tab-active         = {{COLOR_SURFACE1}}
notification       = {{COLOR_ACCENT}}
notification-error = {{COLOR_URGENT}}
misc               = {{COLOR_SURFACE0}}
